.important {
  color: red;
  font-weight: bolder;
}

.blue {
  background-color: #c6e2ff;
  border-radius: 25px;
  padding: 40px;
}

.green {
  background-color: #74a18e;
  border-radius: 25px;
  padding: 40px;
}

.grey {
  background-color: #6a7d8e;
  border-radius: 25px;
  padding: 40px;
}

.sidebar {
  float: right;
  margin-left: 100px;
}

.imgfloat {
  float: left;
}


.buffer{
  margin-top: 100px;
}

.float-right {
  float: right;
  width: 30%;
  height: 100px;
  margin-top: 50px;
  border-top: 2px solid black
}

.float-left {
  float: left;
  width: 30%;
  height: 100px;
  margin-top: 50px;
  border-top: 2px solid black
}

.new-list {
  list-style-type: upper-roman;
}

.span1 {
  background-color: #afeeee;
  border-radius: 15px;
  padding: 5px;
}

body {
  padding-top: 70px;
}
